In [3]:
import pandas as pd

df = pd.read_csv('/workspaces/codespaces-blank/amazon_bs_20102020.csv')

print(df.head())
print(df.info())

   Year  Rank                                         Book_Title  \
0  2010     1  The Girl Who Kicked the Hornet's Nest (Millenn...
1  2010     2  The Girl with the Dragon Tattoo (Millennium Se...
2  2010     3                                    Decision Points
3  2010     4                                           The Help
4  2010     5  The Girl Who Played with Fire (Millennium Series)

             Author  Rating  Num_Customers_Rated  Price
0     Stieg Larsson     4.7                 8475  17.24
1     Stieg Larsson     4.4                11516   9.99
2    George W. Bush     4.6                 2201  17.80
3  Kathryn Stockett     4.8                14772  14.97
4     Stieg Larsson     4.7                 7949   0.02
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 1094 non-null   int64
 1   Rank                 1094 non-null   int64
 2   Book_Title           1094 non-null   object
 3   Author               1094 non-null   object
 4   Rating               1094 non-null   float64
 5   Num_Customers_Rated  1094 non-null   int64
 6   Price                1094 non-null   float64
dtypes: float64(2), int64(3), object(2)
memory usage: 60.0+ KB
None

In [5]:
df = df.dropna()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 1094 non-null   int64
 1   Rank                 1094 non-null   int64
 2   Book_Title           1094 non-null   object
 3   Author               1094 non-null   object
 4   Rating               1094 non-null   float64
 5   Num_Customers_Rated  1094 non-null   int64
 6   Price                1094 non-null   float64
dtypes: float64(2), int64(3), object(2)
memory usage: 60.0+ KB
None